@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Next Cinema</h1>
    <p class="lead">Meet your next favorite Movie.</p>
    <p><a href="http://mynextcinema.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Deciding what to read next?</h2>
        <p>
            You’re in the right place. Tell us what titles or genres you’ve enjoyed in the past, and we’ll give you surprisingly insightful recommendations.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What are your friends reading?</h2>
        <p>Chances are your friends are discussing their favorite (and least favorite) books on MyNextCinema. Want to learn more? Take the tour.</p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>